name: Create Release and Update Repository

on:
  workflow_call:
    inputs:
      internal-name:
        type: string
        required: true
      solution-name:
        type: string
        required: true
      build-configuration:
        type: string
        required: true
      personal-plugin-repo:
        type: string
        required: true
      personal-plugin-repo-branch:
        type: string
        required: true
    secrets:
      PAT:
        required: true

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Install .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install flatc
        uses: Nugine/setup-flatc@v1
        with:
          version: 25.2.10

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          path: ./bin/${{ inputs.build-configuration }}/${{ inputs.solution-name }}/*

  deploy:
    needs: build
    runs-on: windows-2022

    steps:
      - name: Checkout Plugin Repository
        uses: actions/checkout@v6
        with:
          repository: ${{ inputs.personal-plugin-repo }}
          token: ${{ secrets.PAT }}
          ref: ${{ inputs.personal-plugin-repo-branch }}

      - name: Download Plugin Build Artifact
        uses: actions/download-artifact@v7
        with:
          name: artifact
          path: plugins/${{ inputs.internal-name }}

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          add: ./plugins/${{ inputs.internal-name }}/${{ inputs.internal-name }}.json
          author_name: GitHub Action
          author_email: github-actions[bot]@users.noreply.github.com
          message: ${{ inputs.internal-name }} ${{ github.ref-name }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./plugins/${{ inputs.internal-name }}/latest.zip
          draft: false
          prerelease: false
